div {
    border: thin solid black;
    width: 500px;
    height: 800px;
}

#div0 {
    float: left;
}

#div1 {
    margin-left: 550px;
}

span {
    position: fixed;
    border: thin solid black;
    top: 20px;
    left: 30px;
}